@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Hull University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Hull University</h2>
        <p>This is the Hull University web application that manages enrollment.</p>
    </div>
    <div>
        <img src="~/images/hulluniversity.jpg" />
    </div>
</div>
