@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-3">Welcome to Hull University</h1>
    <p>This is the Hull University web application to manage enrollment.</p>
</div>
<div class="text-center">
    <img src="~/images/hulluniversity.jpg" />
</div>